


.heroBg{
  background-color: #e6f9ff;
}

.heroTxt{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 55px;
}


.subHeading{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.description{
  margin-bottom: 55px;
  text-align: center;
}

.heroBtn{
  background-color: #3a79df;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; 
  border: 0;
  padding: 12px 20px;
}



.faqSc{
  background-color: #e6f9ff;
  min-height: 400px;
  padding: 30px 0;
  max-height: auto;
}